* {
    box-shadow: none;
    margin: 0;
    padding: 0;
    border: none;
    ::-webkit-scrollbar {
        width: 12px;
    }
    ::-webkit-scrollbar-track {
        background: #E8E8E8;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #1D7882;
        border-radius: 20px;
        border: 3px solid #E8E8E8;
    }
}
