.login-component-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    &-fix {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        border: 1px solid silver;
        border-radius: 0.3rem;
    }
    &-header {
        display: flex;
        justify-content: center;
        width: 100%;
        & header {
            font-family: New Order;
            font-size: 1.5rem;
            font-weight: 500;
        }
    }
    &-message {
        display: flex;
        justify-content: center;
        width: 100%;
        & p {
            font-family: New Order;
            font-size: 1rem;
            font-weight: 400;
        }
    }
    &-forms {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        min-width: 23rem;
        gap: 1rem;
        & input {
            width: 95%;
            height: 100%;
            &:focus {
                outline: none;
            }
        }
        &-userName {
            width: 22rem;
            height: 1.5rem;
            border: 1px solid silver;
            border-radius: 0.3rem;
            padding-left: 0.5rem;
        }
        &-password {
            display: flex;
            justify-content: space-between;
            width: 22rem;
            height: 1.5rem;
            border: 1px solid silver;
            border-radius: 0.3rem;
            padding-left: 0.5rem;
            & img {
                cursor: pointer;
                margin-right: 0.3rem;
            }
        }
        &-error {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 100%;
            & p {
                font-family: New Order;
                font-size: 0.8rem;
                font-weight: 300;
                color: red;
            }
        }
    }
    &-footer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        & span {
            font-family: New Order;
            font-size: 0.8rem;
            font-weight: 300;
            cursor: pointer;
        }
    }
    &-button {
        display: flex;
        justify-content: center;
        width: 100%;
        & button {
            width: 5rem;
            height: 2rem;
            border-radius: 0.3rem;
            cursor: pointer;
            & span {
                font-family: New Order;
                font-size: 0.8rem;
                font-weight: 400;
            }
        }
    }
}