.system-layout-container {
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/images/perfil-sem-foto.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}